.responsive-width {
  width: 90%;
  margin: auto;

  @include media('>2xl') {
    max-width: 70%;
    // width: clamp(44rem, 30vw, 80rem);
  }

  @include media('>3xl') {
    max-width: 80rem;
  }
}

.responsive-width-product {
  width: 90%;
  margin: auto;
  @include media('>=md') {
    width: 80%;
  }

  @include media('>lg') {
    width: 65%;
  }

  @include media('>2xl') {
    width: 50%;
  }
  @include media('>3xl') {
    max-width: 100rem;
  }
}

.responsive-width-form {
  width: clamp(1rem, 90vw, 40rem);
  margin: auto;
}

.responsive-width-cta {
  width: clamp(1rem, 90vw, 50rem);
  margin: auto;
}

.responsive-width-projects {
  width: clamp(1rem, 90vw, 40rem);
  margin: auto;
}

.responsive-width-category {
  width: 90%;
  margin: auto;

  @include media('>=md') {
    width: 80%;
  }

  @include media('>lg') {
    width: 60%;
  }
  @include media('>3xl') {
    max-width: 100rem;
  }
}

.responsive-width-footer {
  width: fit-content;
  margin: auto;
}
