@import './global/colors';
@import './global/breakpoints';
@import './global/appearances';
@import './global/reset';
@import './global/responsive';

@import './shared/navbar';
@import './shared/footer';
@import './shared/section';
@import './shared/legal';

@import './home/cta';
@import './home/about';

@import './contact/form';

@import './product/sliders';
@import './product/product';

.swiper-button-prev,
.swiper-button-next {
  color: black !important;
  margin-top: -2.5rem !important;
  //   background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: $border-radius !important;
  //   opacity: ;
}
